body {
	padding:10px 30px;
	font: normal 95%/1.5em Helvetica, Arial, sans-serif;
	background-color:#C2E7E8;
}

h1 {
	color:#CA411A;
}

h2 {
	color:#224041;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#license {
  padding:1em;
  margin:3em 1em 1em;
  border: solid 1px #B0C9CB;
  background-color:#DCE7E7;
}